/* math-writing.css */

/* Basic Typographic Settings:
 * With the exception of the counter-reset lines,
 * these have nothing to do with mathematics,
 * but instead just provide sensible typographic defaults.
 * */ 
body {
    margin:0 auto 167px auto; width:667px; /*necessary to center the text*/
    color:#303030; /*slightly off-black text*/
    background-color:#fcfcf9; /*slightly off-white background*/
    line-height:1.33em; /*otherwise, lines of text are too close together*/
    counter-reset:theorem;
    counter-reset:question;
}

h1,h2,h3,h4 {margin:2em auto 1em 0; color:#330000;}
h1,h2,h3,h4.center {margin:2em auto 1em auto; text-align:center;}
a {color:#006699; text-decoration:none;} /*make links blue, and remove the underline*/
a:hover {color:#003366; text-decoration:none;} /*make hovered links dark blue, and remove the underline*/
i,em,cite {font-style:italic;}
b,strong {font-weight:720;}
p {margin:1em 0 1em 0;}
p,ul {list-style:none;}
ul li {margin:1ex 0 1ex 0;}
ol li {position:relative; margin:1ex 0 1ex 0em;}
code{background-color: #f3f3f3; border-radius: 3px; font-family: monospace; padding: 0 3px;}


/* Typesetting Mathematics */ 
ol li.hard::before {content:"\2736"; position:absolute; left:-1.8em;}
ol li.hard:nth-of-type(n+10)::before {left:-2.4em;}
ol li.hard:nth-of-type(n+100)::before {left:-3.0em;}
ol li.hardhard::before {content:"\2736\2736"; position:absolute; left:-2.7em;}
ol li.hardhard:nth-of-type(n+10)::before {left:-3.3em;}
ol li.hardhard:nth-of-type(n+100)::before {left:-3.9em;}
ol li ol {list-style:lower-alpha;}
ol li ol li {position:relative; margin:0 0 1ex 0;}
ol li ol li.hard::before {content:"\2736"; position:absolute; left:-1.8em;}
ol li ol li.hardhard::before {content:"\2736\2736"; position:absolute; left:-2.7em;}
ol li ol li ol {list-style:lower-roman;}
ol li ol li ol li {position:relative; margin:0 0 1ex 0;}
ol li ol li ol li.hard::before {content:"\2736"; position:absolute; left:-2.2em;}
ol li ol li ol li.hardhard::before {content:"\2736\2736"; position:absolute; left:-3.0em;}

.term {color:#044050;}
.lemma {display: block; font-style: normal;}
.lemma::before {counter-increment: theorem; content: "Lemma " counter(theorem) " \2014 "; color:#044050; font-weight: bold;}
.lemma[note]::before {counter-increment: theorem; content: "Lemma " counter(theorem) " (" attr(note) ") \2014 "; color:#044050; font-weight: bold;}
.theorem {display: block;}
.theorem::before {counter-increment: theorem; content: "Theorem " counter(theorem) " \2014 "; color:#044050; font-weight: bold;}
.theorem[note]::before {counter-increment: theorem; content: "Theorem " counter(theorem) " (" attr(note) ") \2014 "; color:#044050; font-weight: bold;}
.corollary {display: block; font-style: normal;}
.corollary::before {counter-increment: theorem; content: "Corollary " counter(theorem) " \2014 "; color:#044050; font-weight: bold;}
.corollary[note]::before {counter-increment: theorem; content: "Corollary " counter(theorem) " (" attr(note) ") \2014 "; color:#044050; font-weight: bold;}
/* I should clean all this up and post it somewhere goood!. :D */
.proof {display: block; margin: 1ex 1em 2ex 1.33em; font-style: normal;}
.proof p:first-child::before {content: "Proof \00A0"; font-style: italic;}
.proof[note]::before {content: "Proof (" attr(note) ") \00A0"; font-style: italic;}
.proof p:last-of-type::after {content: "\2610"; float:right;}
details.proof {display: block; margin: 1ex 1em 2ex 1.33em; font-style: normal;}
details.proof::before {content: "Proof \00A0"; font-style: italic;}
details.proof[note]::before {content: "Proof (" attr(note) ") \00A0"; font-style: italic;}
details.proof::after {content: "\2610"; float:right;}
details.proof summary {color: #044050; padding: 0.33ex 0 0.33ex 0.5em;}
details.proof summary:hover {background-color: #fafafa;}
details.proof summary:active {background-color: #ffffff;}
p.exercise {display: block; background:#fafafa; margin:3ex 1em 2ex 0em; border-left:0.1em solid #ae4d00; padding:1ex 1em 1ex 0.9em;}
p.solution {display: block; margin:1ex 1em 2ex 1.33em; border-left:0.1em solid #a0a0a0; padding:1ex 1em 1ex 0.9em;}
/* OLD...
details.solution {display: block; margin:1ex 1em 2ex 1.33em;}
details.solution summary {color: #044050; padding: 0.33ex 0 0.33ex 0.5em;}
details.solution summary:hover {background-color: #fafafa;}
details.solution summary:active {background-color: #ffffff;}
*/

/*
.theorem {display:block;}
.theorem p:first-child::before {counter-increment:theorem; content:"Theorem " counter(theorem) " \2014 "; color:#044050; font-weight:bold;}
.theorem[note] p:first-child::before {counter-increment:theorem; content:"Theorem " counter(theorem) " (" attr(note) ") \2014 "; color:#044050; font-weight:bold;}
*/
details.problem-solution {display:block; margin:1ex 0em 2ex 0em;}
details.problem-solution summary {cursor:pointer; display:block; background:#fafafa; border-left:0.1em solid #ae4d00; margin:3ex 0em 2ex 0.1em; padding:1ex 1em 1ex 1em;}
details.problem-solution summary:hover {background:#ffffff;}
details.problem-solution p {display:block; margin:1ex 1em 2ex 1.1em;}
details.problem-solution p:last-child::after {float:right; content:"\2713";}

/* Setup the CSS for NUMBERED EXERCISES! */



